body {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.material-symbols-outlined {
  line-height: 1.5;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

p {
  margin-bottom: 0;
}

a {
  color: inherit;
}

.underline {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.2;
  margin-bottom: 0;
}

ol,
ul,
dl {
  margin-bottom: 0;
}
