.index-title {
  font-size: 100px;
}

.card-img-top {
  max-width: 100%;
  max-height: 13rem;
  object-position: top;
}

.card-img {
  .img-badge {
    top: 1rem;
    left: 1rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.5rem;
    padding: 10px;
  }
}

.card-hr {
  border: 1px dashed var(--Neutral_gray_2, #ACACAC)
}

.newCourse-bgi-startbottom {
  left: 1rem;
  bottom: 0;
}

.newCourse-bgi-endtop {
  right: 1rem;
  top: 2rem;
}

.featuredCourse-bgi-starttop {
  left: 1rem;
  top: 2rem;
}

.featuredCourse-bgi-endbottom {
  right: 1rem;
  bottom: 0;
}
