.index-title {
  font-size: 100px;
}

.swiper-margin-end {

  @include media-breakpoint-down(md) {
    margin-right: calc((100% - 720px) / 2 - 24px);
  }

  @include media-breakpoint-down(sm) {
    margin-right: calc((100% - 540px) / 2 - 24px);
  }
}

.banner-section {
  // background: no-repeat left 0 bottom 0 url(/assets/images/hero_bg_01.png), no-repeat right 0 top 4.125rem url(/assets/images/hero_bg_02.png), linear-gradient(to bottom, #78adff, #4b91ff);
  background: no-repeat left bottom url(/assets/images/hero_bg_01.png), no-repeat right top url(/assets/images/hero_bg_02.png), linear-gradient(to bottom, #78adff, #4b91ff);
  @include media-breakpoint-down(xl){
    background-size: 11%, 6.8%, contain;
  }
  @include media-breakpoint-down(lg){
    background-size: 18%, 15%, contain;
  }

  .topic-title::before {
    content: '';
    background-image: url(/assets/images/sparkle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    position: absolute;
    left: 0;
    top: -2.5rem;
  }

  .topic-title-span::before {
    content: '';
    background-image: url(/assets/images/vector_01.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: block;
    width: 186px;
    height: 10px;
    left: 0;
    bottom: -0.75rem;
  }

  .topic-title-span::after {
    content: '';
    background-image: url(/assets/images/vector_02.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: block;
    width: 48px;
    height: 32px;
    top: 8px;
    right: -16px;
    transform: scale(0.8) rotate(20deg);

    @include media-breakpoint-up(md) {
      background-repeat: no-repeat;
      display: block;
      width: 68px;
      height: 48px;
      top: -1.5rem;
      right: -2.875rem;
      transform: scale(1) rotate(0deg);
    }
  }

  ::placeholder {
    color: #ACACAC !important;
  }
}

.evaluate-icon {
  display: flex;
  align-items: center;
  gap: 2px;
}

.courseSwiper {
  .card-img-top {
    max-width: 100%;
    height: 13rem;
    object-position: top;
  }

  .card-img {
    .img-badge {
      top: 1rem;
      left: 1rem;
      border-top-right-radius: 0;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0.5rem;
      padding: 10px;
    }
  }
}

.card-hr {
  border: 1px dashed var(--Neutral_gray_2, #ACACAC)
}

.topic-search {
  color: #ACACAC;
  max-width: 100%;

  .topic-slogan {
    font-weight: normal;
    font-size: 1rem;

    @include media-breakpoint-up(md) {
      font-weight: bold;
      font-size: 1.5rem;
    }

    @include media-breakpoint-up(xl) {
      font-weight: bold;
      font-size: 2.25rem;
    }
  }

  .btn-search {
    right: 0.5rem;
  }

  .search-icon {
    left: 0.5rem;

    @include media-breakpoint-up(md) {
      left: 1rem;
    }
  }
}

.topic-image {
  text-align: center;
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: 43%;
  }
}

.new-course::before {
  content: '';
  background-image: url(/assets/images/circle_02.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  display: block;
  width: 254px;
  height: 213px;
  left: 1rem;
  bottom: 1.5rem;

  @include media-breakpoint-up(lg) {
    width: 370px;
    height: 370px;
    bottom: 0rem;
  }
}

.new-course::after {
  content: '';
  background-image: url(/assets/images/circle_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  display: block;
  width: 110px;
  height: 76px;
  right: 1rem;
  top: 2rem;
}

.discount-section::before {
  content: '';
  background-image: url(/assets/images/circle_03.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  display: block;
  width: 172px;
  height: 126px;
  left: 1rem;
  top: 2.5rem;

  @include media-breakpoint-up(lg) {
    width: 190px;
    height: 140px;
    top: 4rem;
  }
}

.discount-section::after {
  content: '';
  background-image: url(/assets/images/circle_04.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  display: block;
  width: 264px;
  height: 237px;
  right: 2.5rem;
  bottom: 0;

  @include media-breakpoint-up(lg) {
    width: 294px;
    height: 264px;
    right: 2.75rem;
  }
}

.featured-section::before {
  content: '';
  background-image: url(/assets/images/circle_05.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  display: block;
  width: 106px;
  height: 64px;
  top: 2rem;
  left: 2rem;
}

.featured-section::after {
  content: '';
  background-image: url(/assets/images/circle_02.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  display: block;
  width: 254px;
  height: 213px;
  right: 1rem;
  bottom: 1.5rem;

  @include media-breakpoint-up(lg) {
    width: 370px;
    height: 370px;
    bottom: 0rem;
  }
}

.topicSwiper {
  .swiper-slide {
    width: 240px;
    height: 240px;

    .flag-img {
      width: 60px;
      height: 60px;
    }
  }
}

.courseSwiper {
  .swiper-slide {
    width: 327px;
    height: auto;

    @include media-breakpoint-up(md) {
      width: 416px;
    }
  }
}

.qa-section {
  .accordion-button::after {
    background-image: url(/assets/images/plus.svg);
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url(/assets/images/sub.svg);
  }
}

.answer {
  color: #4d4d4d;
}
