.nav-top {
    margin-top: 92px;
}

input {
    height: 48px;
}

.input-group .form-control {
    max-width: 105px;
    height: 47px;
}

.card-info-title {
    min-width: 140px;
}


.deco-img-top {
    top: 4.875rem;
    left: 2rem;
}

.deco-img-bottom {
    right: 1.5rem;
    bottom: -3rem;
}