.nav-top {
    margin-top: 92px;
}

.payment-input {
    height: 48px;
}

.card-info .form-control {
    max-width: 105px;
    height: 47px;
}

.card-info-title {
    min-width: 120px;
}

@media (min-width: 992px) {
    .card-info-title {
        min-width: 140px;
    }
}


.deco-img-top {
    top: 4.875rem;
    left: 2rem;
}

.deco-img-bottom {
    right: 1.5rem;
    bottom: -3rem;
}

.price-text{
    min-width: 120px;
    text-align: right;
}