<!doctype html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/navbar_index'); -%>

    <h1 class="text-center py-20">阿萴加油</h1>

    <div class="container-fluid py-20 bg-secondary-blue">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <div class="card-img p-4 positive-relative">
                <span
                  class="badge img-badge text-bg-primary-yellow p-3 position-absolute rounded-top-start-0"
                  >熱門</span
                >
                <img
                  src="../assets/images/course-1.png"
                  class="card-img-top rounded-3"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">進階美語口語訓練</h5>
                <p class="card-text">Robert</p>
                <div class="evaluate">
                  <p>
                    <span
                      class="material-symbols-outlined text-secondary-orange-2"
                    >
                      star
                    </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>
                    <span class="material-symbols-outlined"> star </span>4.7
                  </p>
                </div>
                <div class="time-students border-bottom">
                  <span><img src="" alt="" />16.9小時</span>
                  <span><img src="" alt="" />873位學生 </span>
                </div>
              </div>
              <div class="p-4">
                <div class="nt-dollars"></div>
                <a href="" class="btn btn-primary-blue">加入課程</a>
              </div>
            </div>
          </div>
          <div class="col-4"></div>
          <div class="col-4"></div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
