<!doctype html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <title>index</title>
  </head>
  <body>
    <%- include('./layout/navbar_index'); -%>

    <h1 class="text-center py-20">阿萴加油</h1>
    <!-- banner and search section -->
    <div class="container-fluid pt-11 bg-primary-bg">
      <div
        class="container d-flex flex-column flex-lg-row justify-content-between align-items-lg-center"
      >
        <!-- topic search section -->
        <div class="topic-search mb-6 mb-lg-0">
          <h1 class="topic-title fs-1 mb-6">
            你的最佳語言
            <div class="ms-0 ms-md-n3 d-block d-md-inline">
              <span class="topic-title-span position-relative"
                >學習夥伴
                <img
                  class="topic-title-bottomImg position-absolute"
                  src="../assets/images/vector_01.svg"
                  alt=""
                />
                <img
                  class="topic-title-righttopImg position-absolute"
                  src="../assets/images/vector_02.svg"
                  alt=""
                />
              </span>
            </div>
          </h1>
          <h2 class="topic-slogan text-neutral-gray">從語言+成為語言家</h2>
          <!-- topic search bar -->
          <nav class="navbar bg-body-tertiary mt-6">
            <div class="container-fluid px-0">
              <form class="w-100 position-relative rounded-3" role="search">
                <span
                  class="material-symbols-outlined search-icon position-absolute top-50 translate-middle-y"
                >
                  search
                </span>
                <input
                  class="form-control py-7 px-10 px-xl-16"
                  type="search"
                  placeholder="今天想學什麼語言？"
                  aria-label="Search"
                />
                <!-- Example single danger button -->
                <div
                  class="btn-group btn-search position-absolute top-50 translate-middle-y"
                >
                  <button
                    type="button"
                    class="btn btn-primary-blue dropdown-toggle px-5 px-lg-3 py-3"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    課程分類
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </li>
                  </ul>
                </div>
              </form>
            </div>
          </nav>
          <!-- topic search bar end -->
        </div>
        <!-- topic search section end -->
        <div></div>
        <!-- topic banner -->
        <div class="topic-image">
          <img src="../assets/images/hero.png" alt="" />
        </div>
        <!-- topic banner end -->
      </div>
    </div>
    <!-- banner and search section end -->
    <!-- course topic swiper -->
    <div class="container-fluid py-20 bg-primary-bg">
      <div class="container position-relative">
        <h2 class="course-titlte text-center fs-1 mb-16">課程主題</h2>
        <!-- swiper section -->
        <div class="swiper topicSwiper me-0 me-md-n3">
          <div class="swiper-wrapper">
            <div class="swiper-slide position-relative">
              <!-- topic card component -->
              <div
                class="h-100 d-flex flex-column justify-content-center align-items-center"
              >
                <h3 class="text-neutral-gray">美語</h3>
                <img
                  class="flag-img"
                  src="../assets/images/flag_usa.svg"
                  alt="usa flag img"
                />
              </div>
              <img
                class="position-absolute top-0 z-n1"
                src="../assets/images/category_usa.png"
                alt="usa bg img"
              />
              <!-- topic card component -->
            </div>
            <div class="swiper-slide position-relative">
              <!-- topic card component -->
              <div
                class="h-100 d-flex flex-column justify-content-center align-items-center"
              >
                <h3 class="text-neutral-gray">英語</h3>
                <img
                  class="flag-img"
                  src="../assets/images/flag_uk.svg"
                  alt="uk flag img"
                />
              </div>
              <img
                class="position-absolute top-0 z-n1"
                src="../assets/images/category_uk.png"
                alt="uk bg img"
              />
              <!-- topic card component -->
            </div>
            <div class="swiper-slide position-relative">
              <!-- topic card component -->
              <div
                class="h-100 d-flex flex-column justify-content-center align-items-center"
              >
                <h3 class="text-neutral-gray">日語</h3>
                <img
                  class="flag-img"
                  src="../assets/images/flag_japan.svg"
                  alt="japan flag img"
                />
              </div>
              <img
                class="position-absolute top-0 z-n1"
                src="../assets/images/category_japan.png"
                alt="japan bg img"
              />
              <!-- topic card component -->
            </div>
            <div class="swiper-slide position-relative">
              <!-- topic card component -->
              <div
                class="h-100 d-flex flex-column justify-content-center align-items-center"
              >
                <h3 class="text-neutral-gray">韓語</h3>
                <img
                  class="flag-img"
                  src="../assets/images/flag_korea.svg"
                  alt="korea flag img"
                />
              </div>
              <img
                class="position-absolute top-0 z-n1"
                src="../assets/images/category_korea.png"
                alt="korea bg img"
              />
              <!-- topic card component -->
            </div>
            <div class="swiper-slide position-relative">
              <!-- topic card component -->
              <div
                class="h-100 d-flex flex-column justify-content-center align-items-center"
              >
                <h3 class="text-neutral-gray">法語</h3>
                <img
                  class="flag-img"
                  src="../assets/images/flag_france.svg"
                  alt="france flag img"
                />
              </div>
              <img
                class="position-absolute top-0 z-n1"
                src="../assets/images/category_france.png"
                alt="france bg img"
              />
              <!-- topic card component -->
            </div>
            <div class="swiper-slide position-relative">
              <!-- topic card component -->
              <div
                class="h-100 d-flex flex-column justify-content-center align-items-center"
              >
                <h3 class="text-neutral-gray">西班牙語</h3>
                <img
                  class="flag-img"
                  src="../assets/images/flag_spain.svg"
                  alt="spain flag img"
                />
              </div>
              <img
                class="position-absolute top-0 z-n1"
                src="../assets/images/category_spain.png"
                alt="spain bg img"
              />
              <!-- topic card component -->
            </div>
            <div class="swiper-slide position-relative">
              <!-- topic card component -->
              <div
                class="h-100 d-flex flex-column justify-content-center align-items-center"
              >
                <h3 class="text-neutral-gray">阿拉伯語</h3>
                <img
                  class="flag-img"
                  src="../assets/images/flag_arab.svg"
                  alt="arab flag img"
                />
              </div>
              <img
                class="position-absolute top-0 z-n1"
                src="../assets/images/category_arab.png"
                alt="arab bg img"
              />
              <!-- topic card component -->
            </div>
          </div>
        </div>
        <!-- swiper section end -->
      </div>
    </div>
    <!-- course topic end swiper -->
    <!-- new course section swiper -->
    <div class="container-fluid py-20 bg-secondary-blue">
      <div class="container pb-21 position-relative">
        <!-- new course background image -->
        <img
          src="../assets/images/circle_02.png"
          alt=""
          class="newCourse-bgi-startbottom position-absolute"
        />
        <img
          src="../assets/images/circle_01.png"
          alt=""
          class="newCourse-bgi-endtop position-absolute"
        />
        <!-- new course background image end -->
        <h2 class="course-titlte text-center fs-1 mb-16">最新課程</h2>
        <!-- swiper section -->
        <div class="swiper courseSwiper me-0 me-md-n3">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!-- card component -->
              <div class="card">
                <!-- top image container -->
                <div class="card-img p-4 position-relative">
                  <span
                    class="badge img-badge text-bg-primary-yellow text-neutral-gray fs-7 p-3 position-absolute rounded-top-start-0"
                    >NEW</span
                  >
                  <a href="course.html">
                    <img
                      src="../assets/images/card-cover_01.jpg"
                      class="card-img-top object-fit-cover rounded-3"
                      alt="..."
                    />
                  </a>
                </div>
                <!-- top image container end -->
                <div class="card-body pt-0 text-neutral-gray">
                  <a href="course.html">
                    <h5 class="card-title">進階美語口語訓練</h5>
                  </a>
                  <p class="card-text mb-3">Johnny</p>
                  <div class="evaluate d-flex align-items-center mb-4">
                    <div class="evaluate-icon">
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star_half.svg" alt="" />
                    </div>
                    <p class="ms-2">4.5</p>
                  </div>
                  <div
                    class="time-students border-bottom d-flex border-bottom-0"
                  >
                    <div class="times d-flex align-items-center">
                      <img src="../assets/images/ic_Clock.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">22小時</p>
                    </div>
                    <div class="students ms-4 d-flex">
                      <img src="../assets/images/Vector.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">548位學生</p>
                    </div>
                  </div>
                </div>
                <div class="px-4">
                  <hr class="card-hr m-0" />
                </div>
                <div
                  class="p-4 d-flex justify-content-between align-items-center"
                >
                  <div class="nt-dollars fs-5 fw-bold text-primary-blue">
                    NT$ 2,880
                  </div>
                  <a href="" class="btn btn-primary-blue py-3 px-5">加入課程</a>
                </div>
              </div>
              <!-- card component end -->
            </div>
            <div class="swiper-slide">
              <div class="card">
                <!-- top image container -->
                <div class="card-img p-4 position-relative">
                  <span
                    class="badge img-badge text-bg-primary-yellow text-neutral-gray fs-7 p-3 position-absolute rounded-top-start-0"
                    >NEW</span
                  >
                  <img
                    src="../assets/images/card-cover_02.jpg"
                    class="card-img-top object-fit-cover rounded-3"
                    alt="..."
                  />
                </div>
                <!-- top image container end -->
                <div class="card-body pt-0 text-neutral-gray">
                  <h5 class="card-title">英語會話速成班</h5>
                  <p class="card-text mb-3">Harry Potter</p>
                  <div class="evaluate d-flex align-items-center mb-4">
                    <div class="evaluate-icon">
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star_half.svg" alt="" />
                    </div>
                    <p class="ms-2">4.7</p>
                  </div>
                  <div
                    class="time-students border-bottom d-flex border-bottom-0"
                  >
                    <div class="times d-flex align-items-center">
                      <img src="../assets/images/ic_Clock.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">18.5小時</p>
                    </div>
                    <div class="students ms-4 d-flex">
                      <img src="../assets/images/Vector.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">548位學生</p>
                    </div>
                  </div>
                </div>
                <div class="px-4">
                  <hr class="card-hr m-0" />
                </div>
                <div
                  class="p-4 d-flex justify-content-between align-items-center"
                >
                  <div class="nt-dollars fs-5 fw-bold text-primary-blue">
                    NT$ 3,490
                  </div>
                  <a href="" class="btn btn-primary-blue py-3 px-5">加入課程</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card component -->
              <div class="card">
                <!-- top image container -->
                <div class="card-img p-4 position-relative">
                  <span
                    class="badge img-badge text-bg-primary-yellow text-neutral-gray fs-7 p-3 position-absolute rounded-top-start-0"
                    >NEW</span
                  >
                  <img
                    src="../assets/images/card-cover_03.jpg"
                    class="card-img-top object-fit-cover rounded-3"
                    alt="..."
                  />
                </div>
                <!-- top image container end -->
                <div class="card-body pt-0 text-neutral-gray">
                  <h5 class="card-title">日語初學者導引</h5>
                  <p class="card-text mb-3">藤木直人</p>
                  <div class="evaluate d-flex align-items-center mb-4">
                    <div class="evaluate-icon">
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star_half.svg" alt="" />
                    </div>
                    <p class="ms-2">4.8</p>
                  </div>
                  <div
                    class="time-students border-bottom d-flex border-bottom-0"
                  >
                    <div class="times d-flex align-items-center">
                      <img src="../assets/images/ic_Clock.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">5.2小時</p>
                    </div>
                    <div class="students ms-4 d-flex">
                      <img src="../assets/images/Vector.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">1099位學生</p>
                    </div>
                  </div>
                </div>
                <div class="px-4">
                  <hr class="card-hr m-0" />
                </div>
                <div
                  class="p-4 d-flex justify-content-between align-items-center"
                >
                  <div class="nt-dollars fs-5 fw-bold text-primary-blue">
                    NT$ 5,880
                  </div>
                  <a href="" class="btn btn-primary-blue py-3 px-5">加入課程</a>
                </div>
              </div>
              <!-- card component end -->
            </div>
          </div>
        </div>
        <!-- swiper section end -->
      </div>
    </div>
    <!-- new course section swiper end -->
    <!-- discount course section -->
    <div class="container-fluid py-20 bg-primary-bg">
      <div class="container pb-21 position-relative">
        <!-- discount course background image -->
        <img
          src="../assets/images/circle_03.png"
          alt=""
          class="position-absolute discount-img-starttop"
        />
        <img
          src="../assets/images/circle_04.png"
          alt=""
          class="position-absolute discount-img-endbottom"
        />
        <!-- discount course background image end -->
        <h2 class="course-titlte text-center fs-1 mb-16">優惠課程</h2>
        <div class="swiper courseSwiper me-0 me-md-n3">
          <!-- swiper section -->
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!-- card component -->
              <div class="card">
                <!-- top image container -->
                <div class="card-img p-4 position-relative">
                  <span
                    class="badge img-badge text-bg-primary-yellow text-neutral-gray fs-7 p-3 position-absolute rounded-top-start-0"
                    >限時優惠</span
                  >
                  <img
                    src="../assets/images/card-cover_04.jpg"
                    class="card-img-top object-fit-cover rounded-3"
                    alt="..."
                  />
                </div>
                <!-- top image container end -->
                <div class="card-body pt-0 text-neutral-gray">
                  <h5 class="card-title">德語入門指南</h5>
                  <p class="card-text mb-3">克勞斯‧阿洛夫斯</p>
                  <div class="evaluate d-flex align-items-center mb-4">
                    <div class="evaluate-icon">
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star_half.svg" alt="" />
                    </div>
                    <p class="ms-2">4.3</p>
                  </div>
                  <div
                    class="time-students border-bottom d-flex border-bottom-0"
                  >
                    <div class="times d-flex align-items-center">
                      <img src="../assets/images/ic_Clock.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">40.8小時</p>
                    </div>
                    <div class="students ms-4 d-flex">
                      <img src="../assets/images/Vector.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">698位學生</p>
                    </div>
                  </div>
                </div>
                <div class="px-4">
                  <hr class="card-hr m-0" />
                </div>
                <div
                  class="p-4 d-flex justify-content-between align-items-center"
                >
                  <div class="nt-dollars fs-5 fw-bold text-primary-blue">
                    <p>NT$ 5,100</p>
                    <p
                      class="fs-7 text-neutral-gray-2 text-decoration-line-through"
                    >
                      NT$ 8,900
                    </p>
                  </div>
                  <a href="" class="btn btn-primary-blue py-3 px-5">加入課程</a>
                </div>
              </div>
              <!-- card component end -->
            </div>
            <div class="swiper-slide">
              <!-- card component -->
              <div class="card">
                <!-- top image container -->
                <div class="card-img p-4 position-relative">
                  <span
                    class="badge img-badge text-bg-primary-yellow text-neutral-gray fs-7 p-3 position-absolute rounded-top-start-0"
                    >限時優惠</span
                  >
                  <img
                    src="../assets/images/card-cover_05.jpg"
                    class="card-img-top object-fit-cover rounded-3"
                    alt="..."
                  />
                </div>
                <!-- top image container end -->
                <div class="card-body pt-0 text-neutral-gray">
                  <h5 class="card-title">西班牙語基礎課程</h5>
                  <p class="card-text mb-3">Dario</p>
                  <div class="evaluate d-flex align-items-center mb-4">
                    <div class="evaluate-icon">
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star_half.svg" alt="" />
                    </div>
                    <p class="ms-2">4.7</p>
                  </div>
                  <div
                    class="time-students border-bottom d-flex border-bottom-0"
                  >
                    <div class="times d-flex align-items-center">
                      <img src="../assets/images/ic_Clock.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">14.5小時</p>
                    </div>
                    <div class="students ms-4 d-flex">
                      <img src="../assets/images/Vector.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">135位學生</p>
                    </div>
                  </div>
                </div>
                <div class="px-4">
                  <hr class="card-hr m-0" />
                </div>
                <div
                  class="p-4 d-flex justify-content-between align-items-center"
                >
                  <div class="nt-dollars fs-5 fw-bold text-primary-blue">
                    <p>NT$ 3,200</p>
                    <p
                      class="fs-7 text-neutral-gray-2 text-decoration-line-through"
                    >
                      NT$ 4,600
                    </p>
                  </div>
                  <a href="" class="btn btn-primary-blue py-3 px-5">加入課程</a>
                </div>
              </div>
              <!-- card component end -->
            </div>
            <div class="swiper-slide">
              <!-- card component -->
              <div class="card">
                <!-- top image container -->
                <div class="card-img p-4 position-relative">
                  <span
                    class="badge img-badge text-bg-primary-yellow text-neutral-gray fs-7 p-3 position-absolute rounded-top-start-0"
                    >限時優惠</span
                  >
                  <img
                    src="../assets/images/card-cover_06.jpg"
                    class="card-img-top object-fit-cover rounded-3"
                    alt="..."
                  />
                </div>
                <!-- top image container end -->
                <div class="card-body pt-0 text-neutral-gray">
                  <h5 class="card-title">義大利語語法與會話</h5>
                  <p class="card-text mb-3">李奧納多</p>
                  <div class="evaluate d-flex align-items-center mb-4">
                    <div class="evaluate-icon">
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star_half.svg" alt="" />
                    </div>
                    <p class="ms-2">4.8</p>
                  </div>
                  <div
                    class="time-students border-bottom d-flex border-bottom-0"
                  >
                    <div class="times d-flex align-items-center">
                      <img src="../assets/images/ic_Clock.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">46.2小時</p>
                    </div>
                    <div class="students ms-4 d-flex">
                      <img src="../assets/images/Vector.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">7650位學生</p>
                    </div>
                  </div>
                </div>
                <div class="px-4">
                  <hr class="card-hr m-0" />
                </div>
                <div
                  class="p-4 d-flex justify-content-between align-items-center"
                >
                  <div class="nt-dollars fs-5 fw-bold text-primary-blue">
                    <p>NT$ 10,000</p>
                    <p
                      class="fs-7 text-neutral-gray-2 text-decoration-line-through"
                    >
                      NT$ 12,000
                    </p>
                  </div>
                  <a href="" class="btn btn-primary-blue py-3 px-5">加入課程</a>
                </div>
              </div>
              <!-- card component end -->
            </div>
          </div>
          <!-- swiper section end -->
        </div>
      </div>
    </div>

    <!-- discount course section end -->
    <!-- featured course section -->
    <div id="featured-course" class="container-fluid py-20 bg-secondary-blue">
      <div class="container pb-21 position-relative">
        <!-- featured course background image -->
        <img
          src="../assets/images/circle_05.png"
          alt=""
          class="position-absolute featuredCourse-bgi-starttop"
        />
        <img
          src="../assets/images/circle_02.png"
          alt=""
          class="position-absolute featuredCourse-bgi-endbottom"
        />
        <!-- featured course background image end -->
        <h2 class="course-titlte text-center fs-1 mb-16">精選課程</h2>
        <!-- swiper section -->
        <div class="swiper courseSwiper me-0 me-md-n3">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!-- card component -->
              <div class="card">
                <!-- top image container -->
                <div class="card-img p-4 position-relative">
                  <span
                    class="badge img-badge text-bg-primary-yellow text-neutral-gray fs-7 p-3 position-absolute rounded-top-start-0"
                    >熱門</span
                  >
                  <img
                    src="../assets/images/course-1.png"
                    class="card-img-top object-fit-cover rounded-3"
                    alt="..."
                  />
                </div>
                <!-- top image container end -->
                <div class="card-body pt-0 text-neutral-gray">
                  <h5 class="card-title">進階美語口語訓練</h5>
                  <p class="card-text mb-3">Robert</p>
                  <div class="evaluate d-flex align-items-center mb-4">
                    <div class="evaluate-icon">
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star_half.svg" alt="" />
                    </div>
                    <p class="ms-2">4.7</p>
                  </div>
                  <div
                    class="time-students border-bottom d-flex border-bottom-0"
                  >
                    <div class="times d-flex align-items-center">
                      <img src="../assets/images/ic_Clock.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">16.9小時</p>
                    </div>
                    <div class="students ms-4 d-flex">
                      <img src="../assets/images/Vector.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">873位學生</p>
                    </div>
                  </div>
                </div>
                <div class="px-4">
                  <hr class="card-hr m-0" />
                </div>
                <div
                  class="p-4 d-flex justify-content-between align-items-center"
                >
                  <div class="nt-dollars fs-5 fw-bold text-primary-blue">
                    NT$ 2,480
                  </div>
                  <a href="" class="btn btn-primary-blue py-3 px-5">加入課程</a>
                </div>
              </div>
              <!-- card component end -->
            </div>
            <div class="swiper-slide">
              <!-- card component -->
              <div class="card">
                <!-- top image container -->
                <div class="card-img p-4 position-relative">
                  <span
                    class="badge img-badge text-bg-primary-yellow text-neutral-gray fs-7 p-3 position-absolute rounded-top-start-0"
                    >免費</span
                  >
                  <img
                    src="../assets/images/course-2.png"
                    class="card-img-top object-fit-cover rounded-3"
                    alt="..."
                  />
                </div>
                <!-- top image container end -->
                <div class="card-body pt-0 text-neutral-gray">
                  <h5 class="card-title">日語漢字與語法強化</h5>
                  <p class="card-text mb-3">鈴木先生</p>
                  <div class="evaluate d-flex align-items-center mb-4">
                    <div class="evaluate-icon">
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star_half.svg" alt="" />
                    </div>
                    <p class="ms-2">4.3</p>
                  </div>
                  <div
                    class="time-students border-bottom d-flex border-bottom-0"
                  >
                    <div class="times d-flex align-items-center">
                      <img src="../assets/images/ic_Clock.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">18小時</p>
                    </div>
                    <div class="students ms-4 d-flex">
                      <img src="../assets/images/Vector.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">296位學生</p>
                    </div>
                  </div>
                </div>
                <div class="px-4">
                  <hr class="card-hr m-0" />
                </div>
                <div
                  class="p-4 d-flex justify-content-between align-items-center"
                >
                  <div class="nt-dollars fs-5 fw-bold text-primary-blue">
                    NT$ 1,980
                  </div>
                  <a href="" class="btn btn-primary-blue py-3 px-5">加入課程</a>
                </div>
              </div>
              <!-- card component end -->
            </div>
            <div class="swiper-slide">
              <!-- card component -->
              <div class="card">
                <!-- top image container -->
                <div class="card-img p-4 position-relative">
                  <span
                    class="badge img-badge text-bg-primary-yellow text-neutral-gray fs-7 p-3 position-absolute rounded-top-start-0"
                    >熱門</span
                  >
                  <img
                    src="../assets/images/course-3.png"
                    class="card-img-top object-fit-cover rounded-3"
                    alt="..."
                  />
                </div>
                <!-- top image container end -->
                <div class="card-body pt-0 text-neutral-gray">
                  <h5 class="card-title">韓語聽力與理解</h5>
                  <p class="card-text mb-3 text-neutral-gray">金秀賢</p>
                  <div class="evaluate d-flex align-items-center mb-4">
                    <div class="evaluate-icon">
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star.svg" alt="" />
                      <img src="../assets/images/star_half.svg" alt="" />
                    </div>
                    <p class="ms-2 text-neutral-gray">4.6</p>
                  </div>
                  <div
                    class="time-students border-bottom d-flex border-bottom-0"
                  >
                    <div class="times d-flex align-items-center">
                      <img src="../assets/images/ic_Clock.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">36.2小時</p>
                    </div>
                    <div class="students ms-4 d-flex">
                      <img src="../assets/images/Vector.svg" alt="" />
                      <p class="ms-1 text-neutral-gray-2">1674位學生</p>
                    </div>
                  </div>
                </div>
                <div class="px-4">
                  <hr class="card-hr m-0" />
                </div>
                <div
                  class="p-4 d-flex justify-content-between align-items-center"
                >
                  <div class="nt-dollars fs-5 fw-bold text-primary-blue">
                    NT$ 7,980
                  </div>
                  <a href="" class="btn btn-primary-blue py-3 px-5">加入課程</a>
                </div>
              </div>
              <!-- card component end -->
            </div>
          </div>
        </div>
        <!-- swiper section end -->
      </div>
    </div>
    <!-- featured course section end -->

    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
    <script>
      const topicSwiper = new Swiper(".topicSwiper", {
        loop: true,
        slidesPerView: "auto",
        spaceBetween: 24,
        // breakpoints: {
        //   // when window width >= 576
        //   576: {
        //     slidesPerView: 1,
        //     spaceBetween: 12,
        //   },
        //   768: {
        //     slidesPerView: 2,
        //     spaceBetween: 12,
        //   },
        //   992: {
        //     slidesPerView: "auto",
        //     spaceBetween: 12,
        //   },
        // },
      });
      const courseSwiper = new Swiper(".courseSwiper", {
        loop: true,
        slidesPerView: "auto",
        spaceBetween: 24,
      });
    </script>
  </body>
</html>
